.container{
    width: 1280px;
    height: auto;
    margin: 0 auto;
}

.box{
    width: 320px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.box1{
    background: yellow;
    padding: 2%;
}

.box2{
    background-color: cyan;
    padding: 3%;
}

.box3{
    background-color: papayawhip;
    padding: 4%
}

.box4{
    background-color: lightgreen;
    padding: 5%;
}

.footer{
    background-color: lightsalmon;
}